footer {
    .bold {
        font-family: $font1;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgb(82, 82, 82);
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}