@font-face {
  font-family: "inter";
  src: url(../Fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(../Fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
  margin: 100px 100px 50px;
}

h1,
H2,
h3 {
  text-transform: uppercase;
  font-family: "inter", sans-serif;
}

.button {
  background: transparent;
  border: 2px solid rgb(23, 23, 23);
  color: rgb(23, 23, 23);
  text-transform: uppercase;
  font-family: "inter", sans-serif;
  font-size: 1rem;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
  padding: 13px 30px;
  letter-spacing: 2px;
}
.button:hover {
  border: 2px solid rgb(238, 238, 238);
  color: rgb(238, 238, 238);
  background: rgb(23, 23, 23);
}

a {
  text-decoration: none;
}

.section-1,
.section-2,
footer {
  background: rgb(238, 238, 238);
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.date {
  font-size: 1.4rem;
  font-family: "Merriweather", sans-serif;
}

.text {
  font-size: 1.2rem;
  font-family: "Merriweather", sans-serif;
  line-height: 50px;
}

header {
  min-height: 1000px;
  color: rgb(238, 238, 238);
  position: relative;
}
header .Htop {
  text-align: center;
  height: 800px;
}
header .Htop H1 {
  letter-spacing: 4px;
  font-size: 6rem;
  margin-top: 300px;
  padding: 100px 720px 0px;
}
header .Htop p {
  font-size: 2rem;
  margin: 0;
  padding: 50px 0;
  margin-bottom: 150px;
  font-style: italic;
}
header .Htop a {
  font-size: 2rem;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 50px;
  padding: 16px 22px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
header .Htop a:hover {
  border: 1px solid rgba(204, 204, 204, 0.699);
  color: rgba(204, 204, 204, 0.699);
}
header a {
  color: rgb(238, 238, 238);
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  background: rgba(204, 204, 204, 0.308);
  font-family: "inter", sans-serif;
}
header nav .page li {
  padding: 30px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header nav .logo li {
  padding: 30px 40px;
  font-size: 1.4rem;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section-1 {
  height: 1820px;
  position: relative;
}
.section-1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(204, 204, 204, 0.699);
  bottom: 0px;
}
.section-1 .top {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.section-1 .top .date {
  padding: 75px 0;
  position: relative;
}
.section-1 .top .date:before {
  position: absolute;
  content: "";
  width: 30%;
  height: 2px;
  background: rgba(204, 204, 204, 0.699);
  top: 89px;
  left: 10%;
}
.section-1 .top .date:after {
  position: absolute;
  content: "";
  width: 30%;
  height: 2px;
  background: rgba(204, 204, 204, 0.699);
  top: 89px;
  right: 10%;
}
.section-1 .top h2 {
  font-size: 5rem;
  padding: 0 400px 50px;
  letter-spacing: 6px;
}
.section-1 .top .text {
  padding: 0 420px 75px;
  font-style: italic;
}
.section-1 .pic-01 {
  background: url(../images/pic01.jpg) center/cover;
  width: 1750px;
  height: 1000px;
  margin: 0 auto;
}
.section-1 .button {
  display: block;
  margin: 0 auto;
  margin-top: 75px;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 1250px;
}
.section-2:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: rgba(204, 204, 204, 0.699);
  left: 50%;
}
.section-2 h3 {
  font-size: 1.6rem;
  letter-spacing: 3px;
  padding: 0 360px 50px;
}
.section-2 .date {
  padding: 100px 0 50px;
  font-size: 1.2rem;
}
.section-2 .text {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.section-2 .left-part-s2 {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
.section-2 .left-part-s2 h3 {
  padding: 0 380px 50px;
}
.section-2 .left-part-s2 .pic-02 {
  height: 500px;
  width: 80%;
  background: url(../images/pic02.jpg) no-repeat center/cover;
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
}
.section-2 .right-part-s2 {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
.section-2 .right-part-s2 .pic-03 {
  height: 500px;
  width: 80%;
  background: url(../images/pic03.jpg) no-repeat center/cover;
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: rgba(204, 204, 204, 0.699);
  left: 50%;
}
footer .bold {
  font-family: "inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(82, 82, 82);
}
footer .info {
  width: 50%;
}
footer .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 75%;
}
footer .info a {
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: rgb(23, 23, 23);
  margin: 0 10px;
}
footer .info a :hover {
  color: rgba(99, 99, 99, 0.788);
  border: 1px solid rgba(99, 99, 99, 0.788);
  border-radius: 50px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .info .light {
  font-family: "Merriweather", sans-serif;
  Color: grey;
  width: 75%;
}
footer .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 60px;
  position: relative;
}
footer .info div:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(204, 204, 204, 0.699);
  bottom: 0px;
  left: 0px;
  padding: 0;
}
footer .info div:first-child {
  padding-right: 458px;
  padding-bottom: 90px;
  height: 220px;
}
footer .info div:first-child .light {
  width: 300px;
  height: 40px;
  text-align: left;
}
footer .contact {
  width: 50%;
  text-align: left;
  padding: 80px 70px;
  height: 904px;
}
footer .contact .form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 120px 120px 300px;
  grid-template-areas: "input1 input1" "input2 input2" "textarea textarea";
  margin: 30px auto 60px;
}
footer .contact input[type=text],
footer .contact textarea {
  width: 100%;
  margin: 20px 0 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
footer .contact input[type=text]:focus,
footer .contact textarea:focus {
  border: 2px solid rgba(99, 99, 99, 0.788);
}
footer .contact textarea {
  resize: none;
  height: 250px;
}
footer .contact .textarea {
  grid-area: textarea;
}
footer .contact .i1 {
  grid-area: input1;
}
footer .contact .i2 {
  grid-area: input2;
}
footer .contact input[type=text] {
  height: 60px;
}/*# sourceMappingURL=index.css.map */